apiVersion: v1
kind: Config
clusters:
- cluster:
    {{ .CAKey }}: {{ .ClusterCA }}
    server: {{ .ClusterEndpoint }}
  name: {{ .ClusterName }}
users:
- name: {{ .UserEmail }}
  user:
    client-certificate-data: {{ .ClientCertificateData }}
    client-key-data: {{ .ClientKeyData }}
contexts:
- context:
    cluster: {{ .ClusterName }}
    user: {{ .UserEmail }}
  name: {{ .User }}-{{ .ClusterName }}
current-context: {{ .User }}-{{ .ClusterName }}
